<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../stylesheets/style.css">
</head>
<body>
    <form action="/articles/<%= article.id %>" method="POST">
        <div>
            Title
            <input type="text" name="title" value="<%= article.title %>">
        </div>
        <div>
            descriptions
            <input type="text" name="description" value="<%= article.description %>">
        </div>
        <div>
            Tags
            <input type="text" name="tags" value="<%= article.tags %>">
        </div>
        <div>
            Author
            <input type="text" name="author" value="<%= article.author %>">
        </div>
        <div>
            Likes
            <input type="number", name="likes" value="<%= article.likes %>">
        </div>
        <input type="submit">
    </form>
</body>
</html>